.center {
    justify-content: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    height: 500px;
}

.button {
    height: 50px;
    width: 50px;
    margin: 5px;
}

h1 {
    text-align: center;
}

.NumberBar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    height: 55px;
    text-align: center;
    font-size: 50px;
}

@media (min-width: 992px) {

    .center {
        justify-content: center;
        width: 1000px;
        height: 580px;
    }

    .button {
    height: 50px;
    width: 50px;
    margin: 2px;
}

.NumberBar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    height: 55px;
    text-align: center;
    font-size: 50px;
}

h1 {
    text-align: center;
  
}
}

.input {

    position: fixed;
    background-color: black;
}
